<div class="main">
  <div class="name">
    <app-name (changeName)="onNameChanged($event)"></app-name>
  </div>
  <div class="participants">
    <app-participant></app-participant>
  </div>
</div>

<div class="cards">
  <app-card [nameValue] = "newName" estimateValue = 0></app-card>
  <app-card [nameValue] = "newName" estimateValue = 0.5></app-card>
  <app-card [nameValue] = "newName" estimateValue = 1></app-card>
  <app-card [nameValue] = "newName" estimateValue = 2></app-card>
  <app-card [nameValue] = "newName" estimateValue = 3></app-card>
  <app-card [nameValue] = "newName" estimateValue = 5></app-card>
  <app-card [nameValue] = "newName" estimateValue = 8></app-card>
  <app-card [nameValue] = "newName" estimateValue = 13></app-card>
  <app-card [nameValue] = "newName" estimateValue = 21></app-card>
  <app-card [nameValue] = "newName" estimateValue = 40></app-card>
  <app-card [nameValue] = "newName" estimateValue = 99></app-card>
</div>
